body{
    background-color: #142C4D;
    font: normal 15pt Arial;
}

header{
    color: whitesmoke;
    text-align: center;
}

section{
    background: rgb(236, 230, 230);
    border-radius: 10px ;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

footer{
    color: rgb(0, 0, 0);
    text-align: center;
    font-style: italic;

}
