
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #142C4D;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar verticalmente */
}

.container {
    width: 400px;
    height: 450px; /* Adicionado 'px' para unidade de medida */
    background-color: hsl(217, 19%, 24%); /* Corrigido erro de sintaxe */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 20px;
    margin-top: 50px; /* Alterado para 50px para melhor visualização */
    border-radius: 10px;
    box-shadow: 5px 15px 20px 10px black;
}

h1 {
    margin-bottom: 30px;
    color: #fff;
}

.generator-container {
    width: 400px;
    display: flex;
    flex-direction: column; /* Corrigido erro de sintaxe */
    justify-content: center;
    align-items: center; /* Adicionado para centralizar elementos */
}

.generator-container input {
    width: 95%;
    height: 30px;
    border-radius: 10px;
}

input::placeholder {
    color: grey;
}

button {
    width: 100%;
    height: 35px;
    border: none; /* Corrigido erro de sintaxe */
    border-radius: 10px;
    background-color: hsl(150, 100%, 66%);
    margin-bottom: 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    box-shadow: 1px 7px 15px hsl(150, 100%, 66%);
}

.image-container {
    width: 200px;
    height: 200px;
    margin-top: 15px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.pen-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

i {
    font-size: 30px;
    cursor: pointer;
}

.pen-div a {
    text-decoration: none;
    color: black;
}

.pen-div p {
    font-size: 15px;
}

/* Responsividade */
@media (max-width: 500px) {
    body {
        display: block;
    }

    .container {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
        margin-top: 0;
        height: 100vh;
        padding: 50px 50px;
    }

    .generator-container {
        width: 100%;
    }

    .generator-container input {
        height: 50px; /* Corrigido erro de repetição */
    }

    button {
        height: 50px;
    }

    .image-container {
        width: 220px;
        height: 220px;
        margin-top: 25px;
    }
}
